.diagonal-box {
    position: relative;
    border: 1px solid black;
    width: 40px;
    height: 40px;
}

.left-text {
    position: absolute;
    transform: translate(20px, 20px) translate(-50%, -50%) translate(-10px, 8px);
    /* border: 1px solid blue; */
}

.right-text {
    position: absolute;
    transform: translate(20px, 20px) translate(-50%, -50%) translate(10px, -8px);
    /* border: 1px solid blue; */
}

/* Diagonal line running through the box */
.diagonal-line {
    position: absolute;
    width: calc(40px*1.414);
    height: 0;
    border: 1px solid black;
    transform-origin: 1px 0px;
    transform: rotate(45deg);
}

.underline-box {
    position: relative;
    width: 80px;
    height: 40px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-box {
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vertical {
    transform-origin: bottom right;
    transform: rotate(-45deg) translate(100%, 4%);
    width: 40px;
    align-items: start;
}