.game-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    border: 2px solid black;
}

.game-table td {
    border: 1px solid #000;
    padding: 1px;
}

/* Make every other separating line thicker */
.game-table tr:nth-child(2n) td, .game-table td.table-col-1, .game-table td.table-col-5 {
    border-bottom: 3px solid #000;
}

/* Allow the remaining columns to adjust based on content */
.game-table .table-col-3 {
    width: 0%;
    background: white;
    /* white-space: nowrap; */
}

.game-table .table-col-1 {
    width: 0%;
    background: white;
    white-space: nowrap;
    color: gray;
    padding: 0 5px;
    text-align: center;
}

.game-table .table-head-2 {
    max-width: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.game-table .table-col-2 {
    width: 100%;
    max-width: 1px;
    color: gray;
    background: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.game-table .table-col-4 {
    width: 1px;
    color: gray;
    background: white;
    padding: 0 5px;
    text-align: center;
}

.game-table .table-col-4.winner {
    width: 0%;
    background: rgb(191, 254, 191);
    padding: 0 5px;
}

.game-table .table-col-5 {
    width: 0%;
    color: gray;
    background: white;
    white-space: nowrap;
    text-align: center;
    padding: 0 5px;
}

/* Add styles for the select with non-trivial selection using the added class */
.game-table select.winner {
    background-color: rgb(191, 254, 191);
    /* border: 1px solid black; */
}

.game-table select {
    background-color: lightgray;
    /* border: 1px solid gray; */
    color: black;
}
  
.player-label {
    display: inline-block;
    color: blue;
    margin-right: 8px; /* Adjust the margin as needed */
    white-space: nowrap;
}

/* Used for aligning teams info horizontally */
.grid-container {
    display: grid; 
    grid-template-columns: minmax(min-content, 200px) min-content;
    grid-gap: 150;
}

.result-box {
    display: grid;
    grid-template-columns: repeat(3, min-content);
}